{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet" href="{% static 'accounts/css/Profile.css' %} "> 
{% endblock head %}



{% block fullcontent %}

<section id="profile">
    <div class="profile">
        <div class="profile__header">
            {% thumbnail profile.header "1000x1000" as im %}
            <a
                href=""
                class="profile__header--image"
                style="
                    background-image: url({{ im.url }});
                "
            ></a>
            {% endthumbnail %}
            <a href="#" class="profile__header--headerUpload"
                ><i class="fas fa-image"></i
            ></a>
        </div>
        <div class="profile__main">
            <div class="profile__main--right">
                <div class="profile__main--right-avatar">
                    {% thumbnail profile.avtar "800x800" as im %}
                    <img src="{{im.url }}" alt="" />
                    {% endthumbnail %}
                    <a href="#" class="avatarUpload">
                        <i class="fas fa-camera"></i>
                    </a>
                </div>
                {% if request.user != user %}
                    <p class="profile__main--right-follow" data-sender="{{ request.user.id }}" data-reciver="{{ user.id }}">{{ is_follow }}</p>
                {% else %}
                    <br><br><br>
                {% endif %}
                <div class="profile__main--right-info">
                    <div class="info__user">
                        <!-- username -->
                        <p>{{user.username}}</p> 
                        <!-- email -->
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="info__account">
                        <!-- information about user like followers and etc -->
                        <span class="info__account--stats">
                            <p>{{user.pics.all.count}}</p>
                            <p>Posts</p>
                        </span>

                        <span class="info__account--stats">
                            <p>{{ user.following.all.count }}</p>
                            <p>Following</p>
                        </span>
                        <span class="info__account--stats">
                            <p id="followers">{{ user.followers.all.count }}</p>
                            <p>Followers</p>
                        </span>
                    </div>
                    <span class="info__account--seperator"></span>
                    <p class="info__account--bio">
                        {{ profile.bio }}
                    </p>
                    <div class="info__account--socials">
                        <a href="#">
                            <i
                                class="fab fa-facebook-f"
                                style="color: #3b5998"
                            ></i>
                        </a>
                        <a href="#"
                            ><i
                                class="fab fa-pinterest"
                                style="color: #c8232c"
                            ></i
                        ></a>

                        <a href="#"
                            ><i
                                class="fab fa-twitter"
                                style="color: #1da1f2"
                            ></i
                        ></a>
                    </div>
                </div>
            </div>

            <div class="profile__main--left">
                <div class="left__header">
                    <div class="left__header--category">
                        <ul>
                            <li id="about">ABOUT</li>
                            <li id="photos">PHOTOS</li>
                        </ul>
                    </div>
                </div>
                <div class="left__main">
                    <div id="profile_pics">
                        {% include 'accounts/include/profile_pics.html' %}
                    </div>
                    <div class="left__main--about">
                        <p class="about__name">
                            نام و نام خانوادگی : <span>{{ user.first_name }}</span><span> {{ user.last_name }}</span>
                        </p>
                        <p class="about__email">
                            ایمیل : <span>{{ user.email }}</span>
                        </p>
                        <p class="about__regDate">
                            تاریخ ثبت نام : <span>{{user.date_joined}}</span>
                        </p>
                        <p class="about__bio">
                            بیوگرافی :
                            <span
                                >{{ profile.bio }}
                                    </span
                            >
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock fullcontent %}


{% block script %}
    <script src="{% static 'accounts/js/profile.js' %}"></script>
    <script src="{% static 'accounts/js/pageLink.js' %}"></script>
{% endblock script %}