{% load static %} 
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font.css' %}">
        
        <title>Document</title>
    </head>
    <body>
        <main>
            <div class="registerBox">
                <h1>ثبت نام</h1>
                {{ form.non_field_errors }}
                <form action="" method = "post">
                    {% csrf_token %}
                    
                    {{ form.usernameerrors }}
                    {{ form.username }}
                    {{ form.email.errors }}
                    {{ form.email }}
                    {{ form.password1.errors }}
                    {{ form.password1 }}
                    {{ form.password2.errors }}
                    {{ form.password2 }}

                    <button class="btn btn-primary btn-md" type="submit">
                        ثبت نام
                    </button>
                </form>
            </div>
        </main>
        <script src="{% static "accounts/js/login.js" %}"></script>
    </body>
</html>
