<div class="owl-carousel main__categories--slider">
    <a href="">
        <div class="item">
            <div class="item__description">
                <p class="">romantic</p>
            </div>
            <img src="assets/images/romantic.jpg" alt="" />
        </div>
    </a>
    <!-- Each Category link -->
    <a href="">
        <div class="item">
            <div class="item__description">
                <p class="">nature</p>
            </div>
            <img src="assets/images/nature.jpg" alt="" />
        </div>
    </a>
    <a href="">
        <div class="item">
            <div class="item__description">
                <p class="">historical</p>
            </div>
            <img src="assets/images/historical.jpg" alt="" />
        </div>
    </a>
    <a href="">
        <div class="item">
            <div class="item__description">
                <p class="">wildlife</p>
            </div>
            <img src="assets/images/owl4.jpg" alt="" />
        </div>
    </a>
</div>
