{% load static %}
{% load thumbnail %}
{% load pic_tags %}
<div class="owl-carousel main__categories--slider">
    {% get_random_cat as cats %}
    {% for cat in cats %}
        <a href="{{ cat.get_absolute_url }}">
            <div class="item">
                <div class="item__description">
                    <p class="">{{ cat.name }}</p>
                </div>
                {% thumbnail cat.image "800x800"  as im  %}
                    <img src="{{ im.url }}" alt="{{ cat.name }}" />
                {% endthumbnail %}
            </div>
        </a>
    {% endfor %}
</div>
