{% load static %}
{% load pic_tags %}
{% load thumbnail %}

<div class="header">
    <div class="header__tag">
        <p>بهترین ماه</p>
    </div>
    <div class="header__bestMonth">
        <div class="header__bestMonth--image">
            <span class="showdisc" id="showdisc">
                <i class="fas fa-exclamation-circle"></i>
            </span>
            <!-- return best month picture -->
            {% best_month as best_month_pic %}
            {% thumbnail best_month_pic.pic "800x800"  as im %}
                <img
                    id="topMonthImage"
                    src="{{ im.url }}"
                    alt=""
                />
            {% endthumbnail %}
            <div class="header__bestMonth--disc">
                <span class="closedisk" id="closedisk">
                    <i class="fas fa-times"></i>
                </span>

                <p>نام کاربر : <span>{{ best_month_pic.user.username }}</span></p>
                <p>تعداد پسندیدن ها : <span>{{ best_month_pic.likes.all.count }}</span></p>
                <p>
                    توضیحات :
                    <span
                        >{{ best_month_pic.description }}</span
                    >
                </p>
                <i class="fas fa-heart likeTopMonth"></i>
            </div>
        </div>
    </div>
</div>
