{% load static %}
{% load thumbnail %}

<div class="manageNav">
    <a href="" class="manageNav__toggle">
        <i id="toggleIcon" class="fas fa-chevron-left"></i>
    </a>
    <div class="manageNav__main">
        <div class="manageNav__main--avatar">
            {% thumbnail user.profile.avtar "800x800" as avtar %}
                <img src="{{ avtar.url }}" alt="" />
            {% endthumbnail%}
        </div>
        <ul class="manageNav__main--menu">
            <li><a href="{{user.profile.get_absolute_url}}"> پروفایل </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
        </ul>
        <div class="manageNav__main--footer">
            <a href="" class="settings"><i class="fas fa-cog"></i></a>
        </div>
    </div>
</div>
