{% load static %}


<div class="manageNav">
    <a href="" class="manageNav__toggle">
        <i id="toggleIcon" class="fas fa-chevron-left"></i>
    </a>
    <div class="manageNav__main">
        <div class="manageNav__main--avatar">
            <img src="{% static "assets/images/profileAvatar.jpg" %}" alt="" />
        </div>
        <ul class="manageNav__main--menu">
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
            <li><a href=""> test </a></li>
        </ul>
        <div class="manageNav__main--footer">
            <a href="" class="settings"><i class="fas fa-cog"></i></a>
        </div>
    </div>
</div>
