{% load static %}
<div class="topHeader">
    <div class="topHeader__right">
        <ul>
            <li><a href="{% url 'pictures:categories' %}"> دسته بندی</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'accounts:profile' request.user.username %}"> ناحیه کاربری</a></li>
                <li><a href="{% url 'accounts:logout' %}">خروج</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">ورود</a></li>
                <li><a href="{% url 'accounts:register' %}">ثبت نام</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="topHeader__left">
        <form method="GET" action="" class="topHeader__left--searchBox">
            <button type="submit" class="btn"><i class="fas fa-search"></i></button>
            <input type="text" name="q" id="" placeholder="Search" />
        </form>
        <!-- logo -->
        <a href="{% url 'pictures:home' %}"><img src="{% static "assets/images/logo.png" %}" alt="" /></a>
    </div>
</div>
