{% extends 'base.html' %} 

{% load static %} 

{% block head %} 


<link rel="stylesheet" href="{% static 'pictures/css/Picture.css'    %} " />


{% endblock %} 

<!-- Content Section -->
{% block content %}
<div class="dropdown main__pics--dropdown">
    <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        تازه ترین ها
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">بهترین ها</a>
        <a class="dropdown-item" href="#">بیشترین بازدید</a>
        <a class="dropdown-item" href="#">تازه ترین ها</a>
    </div>
</div>
<div class="main__pics--container" id="image-list">
    <!-- include list of post html page  -->
    {% include 'pictures/include/list_ajax.html' %}
</div>


{% endblock content %}

{% block script %} 
<!-- Js Script For detail page  overlay -->
<script src="{% static "pictures/js/details.js" %}"></script>
<!-- Js script for ajax pagination -->
<script src="{% static "pictures/js/list_ajax.js" %}"></script>
<!-- Js script for ajax like views  -->
<script src="{% static "pictures/js/like_ajax.js" %}"></script>

{% endblock script %}
