@import "./scss/Vars";
@import "./scss/Funcs";
@import "./Fonts";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans;
}
body {
    direction: rtl;
}
.regLog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url("../assets/images/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &Box {
        width: 70%;
        height: 500px;
        background-color: whitesmoke;
        border-radius: 3px;
        display: flex;
        align-items: center;
        &__right {
            background-image: url("../assets/images/sideimg.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            > span {
                width: 100px;
                font-weight: bold;
                text-align: center;
                color: #fafafa;
                background-color: #4dabf7;
                border: 4px solid #4dabf7;
                border-radius: 20px;
                cursor: pointer;
            }
        }
        &__left {
            width: 65%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            position: relative;
            h4 {
                color: $blackWeb;
                margin-top: 30px;
                font-size: 20px;
            }
            .alert {
                padding: 8px;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 14px;
            }
            .registerLoginBoxForm {
                display: flex;
                flex-direction: column;
                margin-top: 40px;
                width: 300px;
                position: absolute;
                top: 100px;
                .formInput {
                    outline: none;
                    width: 100%;
                    line-height: 20px;
                    margin-bottom: 10px;
                    border-radius: 20px;
                    border: 1px solid #bdbdbd;
                    padding: 10px;
                    direction: rtl;
                    font-size: 15px;
                }
                input[type="checkbox"] {
                    margin: 15px 5px 10px 0;
                    margin-right: 5px;
                    direction: rtl;
                }
                label {
                    font-weight: 100;
                    font-size: 14px;
                    margin-right: 5px;
                }
                button {
                    background-color: #20c997;
                    color: white;
                    outline: none;
                    border: none;
                    line-height: 45px;
                    font-weight: 400;
                    font-size: 15px;
                    margin-top: 20px;
                    cursor: pointer;
                    border-radius: 0.25rem;
                }
            }
        }
    }
}
@keyframes anim {
    0% {
        width: 100px;
    }
    100% {
        width: 500px;
    }
}
