@import "./scss/Vars";
@import "./scss/Funcs";

// .gallery_detail--closeButton {
//     position: absolute;
//     top: 20px;
//     right: 40px;
//     font-size: 1.5vw;
//     color: white;
//     cursor: pointer;
// }
.main__pics {
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    &--dropdown {
        margin-left: auto;
        margin-bottom: 10px;
    }
    &--container {
        width: 100%;
        height: auto;
        background: #f1f1f1;
        border-radius: 5px;
        margin: 0 0.65rem;
        .gallery__item {
            height: auto;
            margin: 0.5rem;
            border-radius: 10px;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                -webkit-box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.55);
                box-shadow: 0px 0px 35px -12px rgba(0, 0, 0, 0.55);
            }
            .likeButton {
                color: $blackWeb;
            }
            .heartBeat {
                animation: heartbeat 2s forwards;
            }
            .clicked {
                color: red;
            }
        }
    }
}

@media (min-width: 640px) {
    .main__pics--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-auto-flow: row dense;
        .gallery__item {
            margin: 0.7rem;
            &:first-child {
                grid-row: span 1;
            }
            &:nth-child(2) {
                grid-column: 2 / 3;
                grid-row: span 2;
            }
            &:nth-child(6),
            &:nth-child(8) {
                grid-row: span 2;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 960px) {
    .main__pics--container {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto-flow);

        .gallery__item {
            cursor: pointer;
            position: relative;
            &:first-child,
            &:nth-child(6),
            &:nth-child(8) {
                grid-column: span 2;
                grid-row: span 1;
            }

            &:nth-child(2) {
                grid-column: span 2;
                grid-row: span 2;
            }
            .showDescription {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba($color: #212121, $alpha: 0.8);
                display: grid;
                place-items: center;
                color: whitesmoke;
                font-size: 5vw;
                border-radius: 10px;
                opacity: 0;
                transition: opacity 0.4s;
            }
            &:hover {
                .showDescription {
                    opacity: 1;
                }
            }
        }
    }
    .gallery_detail {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        z-index: 15;
        padding: 70px;
        // opacity: 0;
        transition: 0.4s;
        display: none;

        &.detail_show {
            display: block;
        }
        &--closeButton {
            position: absolute;
            top: 20px;
            right: 40px;
            font-size: 3vw;
            color: white;
            cursor: pointer;
        }
        &--container {
            width: 70%;
            height: 100%;
            background-color: whitesmoke;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
            padding: 20px 0px;
            // overflow-y: scroll;
            // overflow-x: hidden;
            direction: ltr;
            cursor: auto;

            &-img {
                width: 100%;
                height: 400px;
                object-fit: cover;

                margin-bottom: 10px;
                padding: 10px 20px;
                img {
                    @include dropShadowBlack;
                    border-radius: 10px;
                }
            }
            &-caption {
                width: 100%;
                height: auto;
                text-align: right;
                margin-top: 10px;
                padding: 20px;
                .authorName {
                    width: 100%;
                    background-color: #1565c0;
                    padding: 7px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                .likeCount {
                    width: 100%;
                    background-color: #f44336;
                    padding: 5px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                .postDate {
                    width: 100%;
                    background-color: #4caf50;
                    padding: 5px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                p {
                    font-weight: 800;
                    span {
                        font-weight: normal;
                    }
                }
            }
            &-header {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;

                padding: 10px;
                .likeButton {
                    font-size: 30px;
                    color: #c62828;
                    cursor: pointer;
                }
                .fullDetail {
                    color: black;
                    text-decoration: none;
                }
            }
            .cat-Wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-sameCategory {
                width: 100%;
                height: 200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;

                .sameCategory__images {
                    width: 300px;
                    height: 200px;
                    background-position: center center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .gallery__item {
        position: relative;
        cursor: pointer;
        .showDescription {
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($color: #212121, $alpha: 0.8);
            display: grid;
            place-items: center;
            color: whitesmoke;
            font-size: 5vw;
            border-radius: 10px;
            opacity: 0;
            transition: opacity 0.4s;
        }
        &:hover {
            .showDescription {
                opacity: 1;
            }
        }
    }
    .gallery_detail {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        padding-top: 70px;
        padding-bottom: 20px;
        z-index: 15;
        transition: 0.4s;
        display: none;

        &.detail_show {
            display: block;
        }
        &--closeButton {
            position: absolute;
            top: 10px;
            right: 20px;
            font-size: 5vw;
            color: white;
            cursor: pointer;
            z-index: 20;
        }
        &--container {
            width: 100%;
            height: 700px;
            background-color: whitesmoke;
            // margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 0px;
            overflow-y: scroll;
            overflow-x: hidden;
            direction: ltr;
            position: relative;
            top: 0;
            right: 0;
            cursor: auto;
            &-img {
                width: 100%;
                height: 70%;
                object-fit: cover;

                margin-bottom: 10px;
                padding: 10px 20px;
                img {
                    width: 100%;
                    object-fit: contain;
                    @include dropShadowBlack;
                    border-radius: 10px;
                }
            }
            &-caption {
                width: 100%;
                height: auto;
                text-align: right;
                margin-top: 10px;
                padding: 20px;
                font-size: 2vw;
                .authorName {
                    width: 100%;
                    background-color: #1565c0;
                    padding: 7px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                .likeCount {
                    width: 100%;
                    background-color: #f44336;
                    padding: 5px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                .postDate {
                    width: 100%;
                    background-color: #4caf50;
                    padding: 5px;
                    border-radius: 7px;
                    color: white;
                    margin-right: 5px;
                }
                p {
                    font-weight: 800;
                    span {
                        font-weight: normal;
                    }
                }
            }
            &-header {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                .likeButton {
                    font-size: 30px;
                    color: #c62828;
                    cursor: pointer;
                }
                .fullDetail {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}
@media (max-width: 640px) {
    .gallery_detail {
        &--container {
            &-img {
                width: 100%;
                height: 70%;
                object-fit: cover;

                margin-bottom: 10px;
                padding: 10px 20px;
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    @include dropShadowBlack;
                    border-radius: 10px;
                }
            }
            &-caption {
                font-size: 13px;
                p {
                    font-weight: 800;
                    span {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}
@keyframes modalIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes modalOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.2);
    }
    10% {
        transform: scale(1.4);
    }
    15% {
        transform: scale(1.2);
    }
    20% {
        transform: scale(1.4);
    }
    40% {
        transofmr: scale(0.8);
    }
    45% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.4);
    }
    55% {
        transform: scale(1.2);
    }
    60% {
        transform: scale(1.4);
    }
    65% {
        transform: scale(1.2);
    }
    70% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}
