{% load thumbnail %}

{% for item in pics %}
        {% thumbnail item.pic "800x800"  as im %}
            <div class="gallery__item">
                <div class="showDescription">
                    <i class="fas fa-search-plus"></i>
                </div>
                <div class="gallery_detail" data-picid = "{{item.id}}">
                    
                </div>
                
                <img src="{{ im.url }}" alt="" />
                
            </div>
        {% endthumbnail %}
{% endfor %}