{% extends "base.html" %}


{% load static %}
{% load thumbnail %}


{% block head %}
<link rel="stylesheet" href="{% static 'pictures/css/Categories.css' %}">
{% endblock head %}



{% block content %}

<section id="categories">
    <p class="categories__headText">Categories</p>
    <div class="categories">
        {% for cat in cats%}
            {% thumbnail cat.image "800x800"  as im %}
                <div class="categories__item">
                    <a
                        class="photo"
                        href="{{ cat.get_absolute_url }}"
                        style="
                            background-image: url({{ im.url }});
                        "
                    >
                        <div class="photo__description">{{ cat.name }}</div>
                    </a>
                </div>
            {% endthumbnail %}
        {% endfor %}
</section>
{% endblock content %}


