{% extends 'base.html' %} 

{% load static %} 
{% load thumbnail %}

{% block head %} 


<link rel="stylesheet" href="{% static "pictures/css/Picture.css" %} " />

{% endblock %} 

{% block content %}
<div class="dropdown main__pics--dropdown">
    <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
    >
        تازه ترین ها
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">بهترین ها</a>
        <a class="dropdown-item" href="#">بیشترین بازدید</a>
        <a class="dropdown-item" href="#">تازه ترین ها</a>
    </div>
</div>
<div class="main__pics--container">
    {% for item in pics %}
        {% thumbnail item.pic "800x800"  as im %}
            <div class="gallery__item">
                <a href="{{item.get_absolute_url}}">
                    <img src="{{ im.url }}" alt="" />
                </a>
            </div>
        {% endthumbnail %}
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if pics.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ pics.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pics.number }} of {{ pics.paginator.num_pages }}.
        </span>

        {% if pics.has_next %}
            <a href="?page={{ pics.next_page_number }}">next</a>
            <a href="?page={{ pics.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
