{% extends 'base.html' %}

{% block head %}


{% endblock head %}




{% block content %}

<img src="{{user.profile.avtar.url}}" widht=200 , height = 200><br>
<h3>{{user.username}}</h3><br>
<p>followers <span>{{user.followers.count}}</span></p>

<h3>{{pic.title}}</h3>
<img src="{{pic.pic.url}}" widht=800 , height = 800><br>
<p>{{pic.description}}</p></br>
<ul>
<a href="{% url 'pictures:category' pic.category.slug %}">{{ pic.category }}</a>

<p>tags:</p>
<ul>
{% for tag in pic.tags.all %}
    <li>{{tag}}</li>
{% endfor %}
</ul>

<small>{{pic.updated}}</small>
</ul>




{% endblock content %}


