.footer {
    width: 100%;
    height: 200px;
    background-color: $blackWeb;
    position: relative;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &__socials {
        background-color: #e3c70a;
        width: 60px;
        height: 100%;
        position: absolute;
        right: 10vw;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        .fa-instagram {
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            border-radius: 10px;
            color: #fff;
            font-size: 40px;
            line-height: 40px;
            vertical-align: middle;
            background: #d6249f;
            background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
        }
        .fa-telegram {
            color: #0088cc;
            background: #ffffff;
            border-radius: 100%;
        }
        .fa-facebook {
            color: #3b5998;
            background: #ffffff;
            border-radius: 100%;
        }
    }
    p {
        position: absolute;
        bottom: 1px;
        color: $whitWeb;
    }
}
